*{
margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif ; 
    scroll-behavior:smooth;
    
} 
.navbar{
    display:flex;
    height:80px;
    width:100%;
    justify-content:space-evenly; 
    align-items:normal;
}
.left img{
    width: 45px;
    align-items: center;
}
.right{
    width: 65%; 
}
.right ul{
     display:flex;
    justify-content: space-between;
    align-items: center;
} 

.right ul li{
    list-style: none;

}

/* .right ul li a{
    text-decoration: none;
    color: rgb(70, 3, 132);
} */
.content{
    font-size:2.5rem;
    letter-spacing:6px;;

line-height: 60px;
 padding:0 15%;
 
}
span{
    color: rgb(181, 172, 172);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.button{                   
  cursor:pointer; 
  text-decoration:none;
}
a.button{
    color: rgb(6, 6, 6);
    font-size:medium;
    font-family:Arial;
}
.button:hover{
background-color: rgb(116, 112, 112);
}
p{
    font-variant:normal;
    font-size:40px;
} 
.section-1{
     height:670px;  
display: flex;
 flex-direction:column;
 align-items:center;
 justify-content:center;
} 
#section-2{
    height: 500px;

}
#section-2.section-2 {
     height:600px; 
    box-sizing: small;
  
}
#section-2.section-2 p em{
    font-size:29px;
}

#section-3 h5 {
color:rgb(123, 120, 120);
text-decoration: underline;

}
#section-3 p {
    font-size:28px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#section-3 a{
    text-decoration:none;
    font-size:30px;
    color:lightslategray;
}
div img{
 width:50px;
  margin:50 px;
  text-decoration: none;
}   
#section-5{
     height: 500px;
         
         display: flex;
         justify-content: center;
         flex-direction: column;
}

#section-5 h4{
    
    height:-70px;
     padding-top:-300px;
}
.section-6{
    height: 100%;
    width:100%;
    background-color:#0000 ;
}
footer{
    height:300px;
    width:100%;
    background:rgb(131, 130, 130);
}
.foot{
    width: 100%;
    background:rgb(131, 130, 130);
    height:100%;
    display: flex;
   
}
.foot .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}
.foot .left h2{
    font-size: 30px;
}
.foot .middle{
     width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;

}
.foot .left p{
font-size:25px;
}
.footer{
background:rgb(133, 130, 130);
 
 display: flex;
 justify-content: center;
}

.footer p{
    color:rgb(241, 247, 247);
    font-size:20px;
    
   
   
}
.middle  a{
    text-decoration:none;
    font-size:20px;
    color: white
} 